<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="Home" type="com.ilove.meta.Home" />		
	</typeAliases>
	<mappers>
		<mapper resource="com/ilove/mapper/xml/HomeMapper.xml" />		
	</mappers>
</configuration>		
			